In [2]:
import numpy as np
import pandas as pd 
import csv

In [3]:
rab_l1 = pd.read_csv('intersection.rab4.l1.csv')
ltl3tela_l1 = pd.read_csv('intersection.ltl3tela.l1.csv')
ltl2tgba_l1 = pd.read_csv('intersection.ltl2tgba.l1.csv')
rab_l2 = pd.read_csv('intersection.rab4.l2.csv')
ltl3tela_l2 = pd.read_csv('intersection.ltl3tela.l2.csv')
ltl2tgba_l2 = pd.read_csv('intersection.ltl2tgba.l2.csv')

rab_l4 = pd.read_csv('intersection.rab4.l4.csv')
ltl3tela_l4 = pd.read_csv('intersection.ltl3tela.l4.csv')
ltl2tgba_l4 = pd.read_csv('intersection.ltl2tgba.l4.csv')

In [4]:
drop_rab_l1 = rab_l1.drop(columns=[ 'input.source','input.name', 'input.ap','input.edges', 'input.transitions', 'input.scc', 'input.nondetstates'
                , 'input.nondeterministic', 'input.alternating', 'exit_status', 'exit_code', 'output.ap', 'output.edges','output.transitions', 'output.nondetstates', 'output.scc', 'output.nondeterministic', 'output.alternating'])

In [5]:
drop_rab_l2 = rab_l2.drop(columns=[ 'input.source','input.name', 'input.ap','input.edges', 'input.transitions', 'input.scc', 'input.nondetstates'
                , 'input.nondeterministic', 'input.alternating', 'exit_status', 'exit_code', 'output.ap', 'output.edges','output.transitions', 'output.nondetstates', 'output.scc', 'output.nondeterministic', 'output.alternating'])

In [6]:
drop_rab_l4 = rab_l4.drop(columns=[ 'input.source','input.name', 'input.ap','input.edges', 'input.transitions', 'input.scc', 'input.nondetstates'
                , 'input.nondeterministic', 'input.alternating', 'exit_status', 'exit_code', 'output.ap', 'output.edges','output.transitions', 'output.nondetstates', 'output.scc', 'output.nondeterministic', 'output.alternating'])

In [7]:
drop_ltl3tela_l1 = ltl3tela_l1.drop(columns=[ 'input.source','input.name', 'input.ap','input.edges', 'input.transitions', 'input.scc', 'input.nondetstates'
                , 'input.nondeterministic', 'input.alternating', 'exit_status', 'exit_code', 'output.ap', 'output.edges','output.transitions', 'output.nondetstates', 'output.scc', 'output.nondeterministic', 'output.alternating'])

In [8]:
drop_ltl3tela_l2 = ltl3tela_l2.drop(columns=[ 'input.source','input.name', 'input.ap','input.edges', 'input.transitions', 'input.scc', 'input.nondetstates'
                , 'input.nondeterministic', 'input.alternating', 'exit_status', 'exit_code', 'output.ap', 'output.edges','output.transitions', 'output.nondetstates', 'output.scc', 'output.nondeterministic', 'output.alternating'])

In [9]:
drop_ltl3tela_l4 = ltl3tela_l4.drop(columns=[ 'input.source','input.name', 'input.ap','input.edges', 'input.transitions', 'input.scc', 'input.nondetstates'
                , 'input.nondeterministic', 'input.alternating', 'exit_status', 'exit_code', 'output.ap', 'output.edges','output.transitions', 'output.nondetstates', 'output.scc', 'output.nondeterministic', 'output.alternating'])

In [10]:
drop_ltl2tgba_l1 = ltl2tgba_l1.drop(columns=[ 'input.source','input.name', 'input.ap','input.edges', 'input.transitions', 'input.scc', 'input.nondetstates'
                , 'input.nondeterministic', 'input.alternating', 'exit_status', 'exit_code', 'output.ap', 'output.edges','output.transitions', 'output.nondetstates', 'output.scc', 'output.nondeterministic', 'output.alternating'])

In [11]:
drop_ltl2tgba_l2 = ltl2tgba_l2.drop(columns=[ 'input.source','input.name', 'input.ap','input.edges', 'input.transitions', 'input.scc', 'input.nondetstates'
                , 'input.nondeterministic', 'input.alternating', 'exit_status', 'exit_code', 'output.ap', 'output.edges','output.transitions', 'output.nondetstates', 'output.scc', 'output.nondeterministic', 'output.alternating'])

In [12]:
drop_ltl2tgba_l4 = ltl2tgba_l4.drop(columns=[ 'input.source','input.name', 'input.ap','input.edges', 'input.transitions', 'input.scc', 'input.nondetstates'
                , 'input.nondeterministic', 'input.alternating', 'exit_status', 'exit_code', 'output.ap', 'output.edges','output.transitions', 'output.nondetstates', 'output.scc', 'output.nondeterministic', 'output.alternating'])

In [43]:
sum_rab_l1 = drop_rab_l1.sum(axis=0)
sum_rab_l2 = drop_rab_l2.sum(axis=0)
sum_rab_l4 = drop_rab_l4.sum(axis=0)

In [44]:
sum_ltl3tela_l1 = drop_ltl3tela_l1.sum(axis=0)
sum_ltl3tela_l2 = drop_ltl3tela_l2.sum(axis=0)
sum_ltl3tela_l4 = drop_ltl3tela_l4.sum(axis=0)

In [45]:
sum_ltl2tgba_l1 = drop_ltl2tgba_l1.sum(axis=0)
sum_ltl2tgba_l2 = drop_ltl2tgba_l2.sum(axis=0)
sum_ltl2tgba_l4 = drop_ltl2tgba_l4.sum(axis=0)

In [55]:
df = pd.DataFrame(sum_rab_l1)
droped = df.drop(index=["input.states", "tool", "output.states"])
#filtered = df.filter(items=["input.acc_sets", "output.acc_sets", "time" ], axis=0)

                       0
input.acc_sets      2501
time             195.961
output.acc_sets      446

                                                                 0
input.states                                                  9994
input.acc_sets                                                2501
tool             python3 ./main.py -F%H -O%O -L 1python3 ./main...
time                                                       195.961
output.states                                                 9994
output.acc_sets                                                446

In [47]:
sum_rab_l1

input.states                                                    9994
input.acc_sets                                                  2501
tool               python3 ./main.py -F%H -O%O -L 1python3 ./main...
time                                                         195.961
output.states                                                   9994
output.acc_sets                                                  446
dtype: object

In [48]:
sum_rab_l2

input.states                                                    9994
input.acc_sets                                                  2501
tool               python3 ./main.py -F%H -O%O -L 2python3 ./main...
time                                                         1225.66
output.states                                                   9994
output.acc_sets                                                  443
dtype: object

In [17]:
sum_rab_l4

input.states                                                    9994
input.acc_sets                                                  2501
tool               python3 ./main.py -F%H -O%O -L 4python3 ./main...
time                                                         1352.45
output.states                                                   9994
output.acc_sets                                                  434
dtype: object

In [18]:
sum_ltl3tela_l1

input.states                                                   18460
input.acc_sets                                                   704
tool               python3 ./main.py -F%H -O%O -L 1python3 ./main...
time                                                         385.647
output.states                                                  18068
output.acc_sets                                                  660
dtype: object

In [19]:
sum_ltl3tela_l2

input.states                                                   18460
input.acc_sets                                                   704
tool               python3 ./main.py -F%H -O%O -L 2python3 ./main...
time                                                         563.797
output.states                                                  18068
output.acc_sets                                                  658
dtype: object

In [20]:
sum_ltl3tela_l4

input.states                                                   18460
input.acc_sets                                                   704
tool               python3 ./main.py -F%H -O%O -L 4python3 ./main...
time                                                         647.337
output.states                                                  18068
output.acc_sets                                                  654
dtype: object

In [21]:
sum_ltl2tgba_l1

input.states                                                    7829
input.acc_sets                                                   451
tool               python3 ./main.py -F%H -O%O -L 1python3 ./main...
time                                                          190.15
output.states                                                   7829
output.acc_sets                                                  434
dtype: object

In [22]:
sum_ltl2tgba_l2

input.states                                                    7829
input.acc_sets                                                   451
tool               python3 ./main.py -F%H -O%O -L 2python3 ./main...
time                                                         307.573
output.states                                                   7829
output.acc_sets                                                  434
dtype: object

In [23]:
sum_ltl2tgba_l4

input.states                                                    7829
input.acc_sets                                                   451
tool               python3 ./main.py -F%H -O%O -L 4python3 ./main...
time                                                         679.226
output.states                                                   7829
output.acc_sets                                                  434
dtype: object